body{
    background-image: url("../img/foto1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*background: cornflowerblue;*/
}
main{
    display: flex;
    /*width: 70vw;*/
    height: 75vh;
    /*background: white;*/
    border: solid white 3px;
    border-radius: 20px;
    margin: 5vw;
}
.left{
    width: 100%;
    margin: 10px;
    border: solid white 2px;
    background: lightgray;
    border-radius: 15px;
    padding: 5px;
}
.right{
     width: 100%;
     margin: 10px;
     border: solid white 2px;
     background: white;
     border-radius: 15px;
     padding: 5px;
 }
h3{
    margin-bottom: -15px;
}
.form-label{
    margin-bottom: 0;
}
.travel_history{
    margin: 20px 0;
    background: cornflowerblue;
    color: white;
    border-radius: 5px;

}

